table{
    position:absolute;
    left:50%;
    top:50px;
    margin-left: -300px;
    width:600px; 
    height:30px;
    text-align: center;
    border-collapse: collapse; 
}
table td{
    border:1px solid lightslategray; 
}
td span{
    padding:5px;
}
table thead{
  width:40px;
  height:30px;
}
table thead .td1{
    position: relative;
    padding: 5px;
}
table thead .td1 span{
    position: absolute;
    right:0;
}
table thead .td1 span:first-child{
    top:0px;
    padding:0px;
    width:10px;
    height:10px;
}
table thead .td1 span:nth-child(2){
    bottom:0px;
    padding:0px;
    width:10px;
    height:15px;
}
table thead .td2{
   position: relative;
}
table thead .td2 span{
    position: absolute;
    right:0px;
}
table thead .td2 span:first-child{ 
    top:0;
    padding:0px;
    width:10px;
    height:10px;
}
table thead .td2 span:nth-child(2){
    bottom:0;
    padding:0px;
    width:10px;
    height:15px;
}
table tbody{
  width:40px;
}